.container {
    display: flex;
    align-items: middle;
    justify-content: center;
    margin: 0;
    height: 100%;
    flex-wrap: wrap;
}

.image-canvas{
    align-self: center;
}

.pin {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: whitesmoke;
    border: 1px whitesmoke solid;
    /* animation-duration: 0.5s;
    animation-name: pin-throb;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes pin-throb {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}